@using System.Text
@using PersonalWebsite.Models.DataObjects
@model PersonalInformationModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


<div class="card main">
    <div class="card index">
        <h1 style="padding-left: calc(var(--bs-gutter-x)* .5)">Skills</h1>
        <div>
            <h2 style="padding-left: calc(var(--bs-gutter-x)* .5); border-bottom: 1px solid #e5e5e5;">ProgrammingLanguage</h2>
            <h3 style="padding-left: calc(var(--bs-gutter-x)* .5);">@Html.Raw(ViewData["ProgrammingLanguage"])</h3>
        </div>
        <div>
            <h2 style="padding-left: calc(var(--bs-gutter-x)* .5); border-bottom: 1px solid #e5e5e5;">Tool/Framework</h2>
            <h3 style="padding-left: calc(var(--bs-gutter-x)* .5);">@ViewData["ToolFramework"]</h3>
        </div>
    </div>

    <div class="card index">
        <div class="container-fluid" style="align-content:center;">
            <div class="row">
                <h1>Professional experience</h1>
            </div>
            @foreach (var proExp in Model.ProfessionalExperience)
            {
                <div class="job">
                    <div class="row">
                        <h2 style="margin-bottom: 0px;">@proExp.Company</h2>
                    </div>
                    <div class="row">
                        <div class="col" style="display:contents">
                            <h3 style="padding-left: inherit; margin-top: auto; margin-bottom: auto;">
                                @proExp.Position
                            </h3>
                        </div>
                        <div class="col" style="display:contents">
                            <h3 style="padding-right: inherit; margin-top: auto; margin-bottom: auto;">
                                @proExp.StartDate - @proExp.EndDate
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (string bpoint in proExp.BPoints)
                        {
                            <h5 class="row" style="padding-left: inherit; margin-left:auto;">∘ @bpoint</h5>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="card index">
        <h1 style="margin-left: calc(var(--bs-gutter-x)* .5)">Education</h1>
        @foreach (var education in Model.Education)
        {
            <div style="border-bottom: 1px solid #e5e5e5; margin-bottom: 4px">
                <h3 style="margin-left: calc(var(--bs-gutter-x)* .5); margin-bottom: 1px;">@education.UniversityName - @education.Description</h3>
                <h5 style="margin-left: calc(var(--bs-gutter-x)* .75); margin-bottom: 1px;">Thesis: @education.Thesis</h5>
            </div>
        }
    </div>

</div>
